/* Bezpecnostni politika povolujici pristup k vybranym zaznamum */

grant codeBase "file:/home/honza/Dropbox/FIT/Bakalarka/JavaSecurityPolicyCentralization/priklady/3-databaze/program/" {
  permission ZaznamPermission "Lucka", "nacteni";
};

grant codeBase "file:/home/honza/Dropbox/FIT/Bakalarka/JavaSecurityPolicyCentralization/priklady/3-databaze/knihovna/" {
  permission ZaznamPermission "*", "nacteni";
  permission java.io.FilePermission "/home/honza/Dropbox/FIT/Bakalarka/JavaSecurityPolicyCentralization/priklady/3-databaze/knihovna/-","read,write";
};

